@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/* San Francisco */

@font-face {
    font-family: 'SanFranciscoText-Regular';
    src: url('../resources/SanFranciscoText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SanFranciscoText-Medium';
    src: url('../resources/SanFranciscoText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SanFranciscoText-Light';
    src: url('../resources/SanFranciscoText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
  font-family: 'SanFranciscoText-Medium', sans-serif;
  background:#1e1e1e;
}

h1 {
  color: #666;
}

a {
    color: #b48d22;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 16px;
}
a:hover {
    text-decoration: line-through;
}

p {
    color: #e1e1e1;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}