body {
    background: var(--albedo);
    padding: 2rem;
    font-family: 'SanFranciscoText-Medium', sans-serif;
    width: 45%;
    margin: auto;
    text-align: justify;
}

img {
    padding-top: 10%;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.center {
    padding-top: 7.5%;
    font-size: 20px;
    line-height: 24px;
}

p, h1 {
        color: var(--nigredo);
}

li a.active {
   color: var(--citrinitas);
}

a {
    color: var(--nigredo);
}

a:hover{
    color: var(--citrinitas);
}

header nav {
    color: var(--citrinitas);
}