body {
    background-image: url('../resources/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding: 2rem;
    font-family: 'SanFranciscoText-Medium', sans-serif;
    width: 45%;
    margin: auto;
    text-align: center;
}

.center {
    font-family: 'SanFranciscoText-Light', sans-serif;
    font-size: 2vw;
    line-height: 2vw;
}

li a.active {
    color: var(--nigredo);
}

a:hover {
    color: var(--nigredo);
}

header nav {
    color: var(--albedo);
}

