body {
    background: #1e1e1e;
    background-image: url(https://img.itch.zone/aW1hZ2UyL3VzZXIvMTMzNzQ3LzkyNjA4Ny5wbmc=/original/OCY9XL.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding: 2rem;
    font-family: 'Inconsolata', sans-serif;
    width: 45%;
    margin: auto;
    text-align: center;
    line-height: 24px;
}

.banner {
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

li a.active {
    color: #1e1e1e;
}

a:hover {
    color: #1e1e1e;
}

header nav {
    color: #e1e1e1;
}

