body {
    background-color: var(--nigredo);
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 2rem;
    font-family: 'SanFranciscoText-Medium', Helvetica, Arial, sans-serif;
    width: 45%;
    margin: auto;
    text-align: center;
}

.center {
    font-family: 'SanFranciscoText-Light', sans-serif;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: var(--albedo);
}
li a.active {
    color: var(--citrinitas);
}

a:hover {
    color: var(--citrinitas);
}

@media (max-width: 768px) {
  body {
    background-image: url('../resources/hole.png');
    background-size: cover;
    background-position: center top;
  }
  li a {
    color: var(--nigredo);
    }
header .logo a {
    color: var(--nigredo);
  }
}

@media (min-width: 769px) {
  body {
    background-image: url('../resources/waves.gif');
  }
}
