body {
    background-color: var(--nigredo);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 2rem;
    font-family: 'SanFranciscoText-Medium', Helvetica, Arial, sans-serif;
    width: 45%;
    margin: auto;
    text-align: center;
}

.center {
    font-family: 'SanFranciscoText-Light', sans-serif;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: var(--albedo);
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6vw;
    width:100%;
    height:auto;
}
li a.active {
    color: var(--citrinitas);
}

a:hover {
    color: var(--citrinitas);
}

header nav {
    color: var(--nigredo);
}

@media (max-width: 768px) {
  body {
    background-image: url("../resources/hole.png");
  }
  header .logo {
    color: var(--nigredo);
  }
  header li {
    color: var(--nigredo);
  }
}
@media (min-width: 769px) {
  body {
    background-image: url('../resources/waves.gif');
  }
}
