/* San Francisco */

@font-face {
    font-family: 'SanFranciscoText-Regular';
    src: url('../resources/SanFranciscoText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SanFranciscoText-Medium';
    src: url('../resources/SanFranciscoText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SanFranciscoText-Light';
    src: url('../resources/SanFranciscoText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@viewport {
  width: device-width;
  zoom: 1.0;
} 

@-ms-viewport {
  width: device-width;
} 

:root {
    --nigredo:#1e1e1e;
    --albedo: #e1e1e1;
    --citrinitas: #b48d22;
    --rubedo: #9E2835;
}

html {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

p {
    color: var(--albedo);
    text-align: center;
    margin: 0 auto;
}
a {
    color: var(--albedo);
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}
a:hover {
    text-decoration: line-through;
}
h1 {
    color: var(--albedo);
    text-align: center;
    margin: 0 auto;
    padding: 2em;
}

/* HEADER */

ul {
    list-style: none;
    font-size: 1vw;
}
li {
    display: inline-block;
    margin-left: 20px;
    color: #808080;
}
.hover-space,
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    height: 70px;
    font-family: 'SanFranciscoText-Medium', Helvetica, Arial, sans-serif;
    font-display:auto;
    width: 100%;
    text-align: left;
    line-height: 125%;
    text-transform: lowercase;
}

header .logo {
    position: absolute;
    left: 32px;
    top:14px;
    color: var(--albedo);
    font-size: 1vw;
}

header nav {
    position: absolute;
    right: 32px;
    top: -4px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    font-family: 'SanFranciscoText-Medium', Helvetica, Arial, sans-serif;    
    font-size: 12px;
    font-display: auto;
    line-height: 6px;
    padding-right: 6px;
    text-align: center;
    color: var(--citrinitas);
}

/* CENTERED ELEMENTS */
.center {
    font-size: 20px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    margin: 0 auto;
    position: relative;
    padding-top: 25%;
}