body {
    background: var(--citrinitas);
    font-family: 'SanFranciscoText-Medium', sans-serif;
    width: 100%;
    margin: auto;
}

li {
    color: var(--nigredo);
}

.work {
    padding: 5%;
}

.work h1 {
    color: var(--nigredo);
    text-align: left;   
    padding: 1rem;
    font-size: 1.5vw;
}

.work li {
    padding-left: 1rem;
    font-size: 1.5vw;
    line-height: 2vw;
}

.work li .date {
    font-style: italic;
}

.work li .description {
    color: var(--rubedo);
    opacity: 0;
    -webkit-transition: opacity 1ms;
    -moz-transition: opacity 1ms;
    -o-transition: opacity 1ms;
    transition: opacity 1ms;
}

.work li:hover .description {
    opacity: 1;
}

li a.active {
   color: var(--nigredo);
}

a:hover{
    color: var(--nigredo);
}

header nav {
    color: var(--rubedo);
}

/*
.center {
    padding-top: 5%;
}

.center li {
    padding-right: -20px;
    font-size: 1.5vw;
    line-height: 1.5vw;
}